BODY 		{scrollbar-base-color: #CCCCD3;
		scrollbar-track-color: #CCCCD3;
		scrollbar-face-color: #CCCCD3;
		scrollbar-highlight-color: #FFFFFF;
		scrollbar-3dlight-color: #AAAAB4;
		scrollbar-darkshadow-color: #AAAAB4;
		scrollbar-shadow-color: #AAAAB4;
		scrollbar-arrow-color: #FFFFFF; }

a:link		{ color: #003399; text-decoration: none }

a:visited	{ color: #003399; text-decoration: none }

a:active	{ color: #6666FF; text-decoration: none }

a:hover		{ color: #009999; text-decoration: none }


 /* THE NEXT LINE CONTROLS THE DEFAULT FONT SIZE */

TABLE		{ COLOR: #000000; FONT: 14px arial, verdana, sans-serif; font-weight: normal }

.title 		{ COLOR: #00008B; FONT: 20px arial, sans-serif; font-weight: bold }

.subtitle 	{ COLOR: #000099; FONT: 17px verdana, arial, sans-serif; font-weight: bold }

.phonetitle 	{ color: #000099; font: 17px verdana, arial, sans-serif; font-weight: bold }

.copytext 	{ COLOR: #666666; FONT: 10px arial, verdana, sans-serif; font-weight: bold }

.quotechoice 	{ COLOR: #000099; FONT: 14px arial, verdana, sans-serif; font-weight: normal }

.just 		{ }

.faq 		{ line-height: 18px }

#ZOOM 		{ LEFT: 10px; POSITION: absolute; TOP: 10px }



.menulinks	{ background-image: url("picts/background-menu.gif");
		  font: 12px arial, verdana, sans-serif;
		  font-weight: bold;
		  padding-left: 5px;
		  height: 30px; }

.headermenu	{ color: #000000; font: 11px verdana, arial, sans-serif; font-weight: bold }

.menu-location  { position:absolute; visibility:show; left:0px; top:150px; z-index:0}

#date-location { left: 135px; POSITION: absolute; TOP: 131px }


.button { 	background-image: url("picts/button.gif");
		background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000066;
		font-size: 8pt;
		height: 20px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: }

.buttonon { background-image: url("picts/buttonon.gif");
		background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #660000;
		font-size: 8pt;
		height: 20px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #660000 1px solid }


.shadeform	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 200PX;
		BORDER: #666666 1px solid}

.quoteform	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		BORDER: #000066 1px solid}

.textarea	{ FONT: 13px arial, verdana, sans-serif;
		background-image: url("picts/shadeform.gif");
		text-align: left;
		WIDTH: 275PX;
		HEIGHT: 125PX;
		BORDER: #999999 2px solid}

.dropdown {	COLOR: #333333;
		WIDTH: 200PX;
		FONT: 11px geneva, verdana, arial, sans-serif }


.searchbutton {	background-image: url("picts/button.gif");
		background-color: ;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000066;
		font-size: 8pt;
		height: 20px;
		width: 35px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #000066 1px solid }

.searchform 	{ background-image: url("picts/shadeform.gif");
		  WIDTH: 100PX;
		  HEIGHT: 20PX; FONT: 11px arial, verdana, sans-serif;
		  BORDER: #000000 1px solid }


.searchdrop	{ WIDTH: 60PX; HEIGHT: 20PX; FONT: 11px arial, georgia, "Times New Roman", sans-serif }




 /* START CODE FOR THE GALLERY */



.picturetitle 	{ COLOR: #000000; FONT: 11px verdana, arial, sans-serif; font-weight: bold }

.picturedesc 	{ COLOR: #7D8FB1; FONT: 11px arial, verdana, sans-serif; font-weight: bold }


.button-popups  { background-image: url("picts/button.gif");
		background-color:#FFFFFF;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #000066;
		font-size: 8pt;
		height: 20px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #000066 1px solid }

.buttonon-popups { background-image: url("picts/buttonon.gif");
		background-color:#F0F0F0;
		FONT-FAMILY: arial, verdana, helvetica, sans;
		color: #660000;
		font-size: 8pt;
		height: 20px;
		cursor:hand;
		font-weight: bold;
		text-align: center;
		BORDER: #660000 1px solid }


.rollover 	{ background-color: #7D8FB1 }

.rolloveron 	{ background-color: #000000; Filter: Alpha(Opacity=60) }

.gallery_nav	{ FONT: 12px arial, verdana, sans-serif;
		  font-weight: bold;
		  background-image: url("picts/background_gallery_nav.gif") }

.cartamount	{ FONT: 13px arial, verdana, sans-serif;
		  background-image: url("picts/cart-shadeform.gif");
		  text-align: center;
		  WIDTH: 20PX;
		  BORDER: #000000 1px solid}

.price	 	{ COLOR: #FF6600; FONT: 12px verdana, arial, sans-serif; font-weight: bold }

